<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bm.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BugInputServlet</servlet-name>
    <servlet-class>com.bm.servlet.BugInputServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BugQueryServlet</servlet-name>
    <servlet-class>com.bm.servlet.BugQueryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BugInputReadyServlet</servlet-name>
    <servlet-class>com.bm.servlet.BugInputReadyServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BugInputServlet</servlet-name>
    <url-pattern>/bug/BugInput</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BugQueryServlet</servlet-name>
    <url-pattern>/bug/BugQueryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BugInputReadyServlet</servlet-name>
    <url-pattern>/bug/BugInputReadyServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
